.popup__save-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    max-width: 358px;
    min-height: 50px;
    margin: 48px 0 37px 0;
    background: black;
    color: white;
    font-family: 'Inter', Arial, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
}

.popup__save-button:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .popup__save-button {
        max-width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px 0 25px 0;
    }
}